<h1>Update the {{ category.getName }} category </h1>

<form action="/categories/{{ category.getId }}" method="post">
  <input name="_method" type="hidden" value="patch">  <!--tells server to treat POST request as PATCH request-->

  <label for="name">Rename your category:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Update</button>
</form>

<form action="/categories/{{ category.getId }}" method="post">
  <input name="_method" type="hidden" value="delete">  <!--tells server to treat POST request as DELETE request-->

  <button type="submit">Delete this category</button>
</form>
